## Review of Python's datetime Module

In [1]:
import pandas as pd
import datetime as dt

In [2]:
someday=dt.date(2016, 4, 12)

In [3]:
someday.year
someday.month
someday.day

12

In [4]:
str(someday)

'2016-04-12'

In [5]:
str(dt.datetime(2010,1,20,17, 13, 57))

'2010-01-20 17:13:57'

In [6]:
sometime=dt.datetime(2010,1,20,17, 13, 57)

In [7]:
sometime.minute

13

## The pandas Timestamp Object

In [8]:
pd.Timestamp('2015-03-31')

Timestamp('2015-03-31 00:00:00')

In [9]:
pd.Timestamp('2015,12,03')

Timestamp('2015-03-01 00:00:00')

In [10]:
pd.Timestamp('19/12/2015')

Timestamp('2015-12-19 00:00:00')

In [11]:
pd.Timestamp('2015-12-19 08:35')

Timestamp('2015-12-19 08:35:00')

In [12]:
pd.Timestamp('2015-12-19 6:13 PM')

Timestamp('2015-12-19 18:13:00')

In [13]:
pd.Timestamp(dt.date(2015,1,1))

Timestamp('2015-01-01 00:00:00')

In [14]:
pd.Timestamp(dt.datetime(2015,1,1,21,35,22))

Timestamp('2015-01-01 21:35:22')

## The pandas DateTimeIndex Object

In [15]:
dates = ['2016-01-02', '2016-04-12', '2009-09-07']
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [16]:
type(pd.DatetimeIndex(dates))

pandas.core.indexes.datetimes.DatetimeIndex

In [17]:
dates= [dt.date(2016,1,10), dt.date(1994, 6,13), dt.date(2003,12,29)]
dtindex=pd.DatetimeIndex(dates)

In [18]:
values = [100,200,300]
pd.Series(data=values, index=dtindex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

## The pd.to_datetime() Method

In [19]:
pd.to_datetime('2010-01-19')

Timestamp('2010-01-19 00:00:00')

In [20]:
pd.to_datetime(dt.date(2010,1,19))

Timestamp('2010-01-19 00:00:00')

In [21]:
pd.to_datetime(dt.datetime(2010,1,19,1,23,57))

Timestamp('2010-01-19 01:23:57')

In [22]:
pd.to_datetime(['2015-01-15', '2014/02/08', '2016', 'July 4th, 1996'])

DatetimeIndex(['2015-01-15', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [23]:
times = pd.Series(['2015-01-15', '2014/02/08', '2016', 'July 4th, 1996'])
times

0        2015-01-15
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [24]:
pd.to_datetime(times)

0   2015-01-15
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [25]:
dates = pd.Series(['July 4th, 1996', '10/04/1996','Hello', '2015-02-31'])

In [26]:
dates

0    July 4th, 1996
1        10/04/1996
2             Hello
3        2015-02-31
dtype: object

In [27]:
pd.to_datetime(dates, errors='coerce')

0   1996-07-04
1   1996-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [28]:
pd.to_datetime([])

DatetimeIndex([], dtype='datetime64[ns]', freq=None)

## Create Range of Dates with the pd.date_range() Method, Part 1

In [29]:
times=pd.date_range(start='2016-01-01', end='2016-01-10', freq='D')

In [30]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [37]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [31]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [32]:
pd.date_range(start='2016-01-01', end='2016-01-15', freq='W')

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

## Create Range of Dates with the pd.date_range() Method, Part 2

In [33]:
pd.date_range(start='2012-09-09', periods=50, freq='H')

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 01:00:00',
               '2012-09-09 02:00:00', '2012-09-09 03:00:00',
               '2012-09-09 04:00:00', '2012-09-09 05:00:00',
               '2012-09-09 06:00:00', '2012-09-09 07:00:00',
               '2012-09-09 08:00:00', '2012-09-09 09:00:00',
               '2012-09-09 10:00:00', '2012-09-09 11:00:00',
               '2012-09-09 12:00:00', '2012-09-09 13:00:00',
               '2012-09-09 14:00:00', '2012-09-09 15:00:00',
               '2012-09-09 16:00:00', '2012-09-09 17:00:00',
               '2012-09-09 18:00:00', '2012-09-09 19:00:00',
               '2012-09-09 20:00:00', '2012-09-09 21:00:00',
               '2012-09-09 22:00:00', '2012-09-09 23:00:00',
               '2012-09-10 00:00:00', '2012-09-10 01:00:00',
               '2012-09-10 02:00:00', '2012-09-10 03:00:00',
               '2012-09-10 04:00:00', '2012-09-10 05:00:00',
               '2012-09-10 06:00:00', '2012-09-10 07:00:00',
               '2012-09-10 08:00:00', '2012-09-10 09:00:00',
               '2012-09-10 10:00:00', '2012-09-10 11:00:00',
               '2012-09-10 12:00:00', '2012-09-10 13:00:00',
               '2012-09-10 14:00:00', '2012-09-10 15:00:00',
               '2012-09-10 16:00:00', '2012-09-10 17:00:00',
               '2012-09-10 18:00:00', '2012-09-10 19:00:00',
               '2012-09-10 20:00:00', '2012-09-10 21:00:00',
               '2012-09-10 22:00:00', '2012-09-10 23:00:00',
               '2012-09-11 00:00:00', '2012-09-11 01:00:00'],
              dtype='datetime64[ns]', freq='H')

## Create Range of Dates with the pd.date_range() Method, Part 3

In [36]:
pd.date_range(end='1999-12-31', periods = 20, freq= 'D')

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')